body{
    background:#395351;
    font-family: sans-serif;
    font-size: 15pt;

}
.container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 490px;
    height: 100%;
    
}
div{
   display: inline-block;
   margin-top: 30px;
}

.input_url{
    width: 300px;
    padding: 9px;
    border: 1px solid #fff;
    outline: none;
    background: #fff;
    margin-top: 0;
    color: #111;
    
}
h1{
    color: #fff;
    text-transform: uppercase;
   text-decoration: line-through;
}
.bxs-right-arrow{
    background: red;
    
}
.btn{
    padding: 10px;
    background: rgb(53, 120, 151);
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    outline: none;
    border: 1px solid transparent;
    border-radius:0 10px 10px 0;
}
.res{
    text-align: center;
    width: 400px;
    margin-left: 50px;
}
@media (max-width:320px){
    .content{
        width: 310px;
        margin-left: 60px;
    }
    .container{
       text-align: center;
    }
    .input_url{
        width: 110px;
    }
    .url:focus{
        width: 180px;
    }
    .bxs-right-arrow{
        opacity: 0;
    }
    .res{
        margin-left: 40px;
        font-size: 10pt;
    }
}
@media (max-width:375px){
    .container{
        text-align: center;
    }
    .input_url{
        width: 200px;
    } 
    .url:focus{
        width: 210px;
    }
    .bxs-right-arrow{
        opacity: 0;
    }
    .res{
        margin-left: 20px;
        font-size: 12pt;
    }
}
@media (max-width:425px){
    .container{
        text-align: center;
        width: 410px;
    }
    .input_url{
        width: 210px;
    } 
    .bxs-right-arrow{
        opacity: 0;
    }
    .res{
        margin-left: 3.4px;
        font-size: 12pt;
    }
}
